<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.sentinel.login-item-inspector</string>
  <key>ProgramArguments</key>
  <array>
    <string>{{SCRIPT_DIR}}/login-item-inspector.sh</string>
  </array>
  <key>StartInterval</key>
  <integer>3600</integer>
  <key>RunAtLoad</key>
  <true/>
  <key>StandardOutPath</key>
  <string>{{HOME}}/.local/share/sentinel-arsenal/logs/login-item-inspector.out</string>
  <key>StandardErrorPath</key>
  <string>{{HOME}}/.local/share/sentinel-arsenal/logs/login-item-inspector.err</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/usr/local/bin:/opt/homebrew/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
  </dict>
</dict>
</plist>
